.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-2 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 2rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-4 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-5 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-7 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 2.4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.1rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #ffffff !important;
}
.bg-success {
  background-color: #ababab !important;
}
.bg-info {
  background-color: #7c7c7c !important;
}
.bg-warning {
  background-color: #333333 !important;
}
.bg-danger {
  background-color: #000000 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #545454 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #808080 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
  color: #555555 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #a9a9a9 !important;
  border-color: #a9a9a9 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #555555 !important;
  background-color: #a9a9a9 !important;
  border-color: #a9a9a9 !important;
}
.btn-info,
.btn-info:active {
  background-color: #7c7c7c !important;
  border-color: #7c7c7c !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #515151 !important;
  border-color: #515151 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #515151 !important;
  border-color: #515151 !important;
}
.btn-success,
.btn-success:active {
  background-color: #ababab !important;
  border-color: #ababab !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #808080 !important;
  border-color: #808080 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #808080 !important;
  border-color: #808080 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #080808 !important;
  border-color: #080808 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #080808 !important;
  border-color: #080808 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent!important;
  border-color: #d4d4d4 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #d4d4d4;
  color: #d4d4d4;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #a9a9a9 !important;
  background-color: transparent!important;
  border-color: #a9a9a9 !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #555555 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #7c7c7c;
  color: #7c7c7c;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #515151 !important;
  background-color: transparent!important;
  border-color: #515151 !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7c7c7c !important;
  border-color: #7c7c7c !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #ababab;
  color: #ababab;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #808080 !important;
  background-color: transparent!important;
  border-color: #808080 !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #ababab !important;
  border-color: #ababab !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #333333;
  color: #333333;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #080808 !important;
  background-color: transparent!important;
  border-color: #080808 !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #000000;
  color: #000000;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #ffffff !important;
}
.text-secondary {
  color: #d4d4d4 !important;
}
.text-success {
  color: #ababab !important;
}
.text-info {
  color: #7c7c7c !important;
}
.text-warning {
  color: #333333 !important;
}
.text-danger {
  color: #000000 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #cccccc !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #a1a1a1 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #787878 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #494949 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #000000 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #000000 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #ffffff;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #7c7c7c;
}
.alert-warning {
  background-color: #333333;
}
.alert-danger {
  background-color: #000000;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #8c8c8c;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #ffffff;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ebebeb;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #bcbcbc;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #a6a6a6;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b3b3b3;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.5rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #ffffff !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.5rem;
}
blockquote {
  border-color: #ffffff;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ffffff !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #d4d4d4 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ffffff' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-uyV2jWqK7R {
  background: #000000;
}
.cid-uyV2jWqK7R .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-uyV2jWqK7R figcaption {
  position: relative;
}
.cid-uyV2jWqK7R figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-uyV2jWqK7R .image-block {
    width: 100% !important;
  }
}
.cid-uz26CkmC7H {
  background-image: url("../../../assets/images/la-image-2-2000x1250.jpg");
}
.cid-uz26CkmC7H .mbr-fallback-image.disabled {
  display: none;
}
.cid-uz26CkmC7H .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uz26CkmC7H .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uz26CkmC7H .image-wrap img {
    display: block;
    margin: auto;
    width: 60%;
  }
}
@media (max-width: 768px) {
  .cid-uz26CkmC7H audio {
    width: 100% !important;
  }
}
.cid-uz26CkmC7H audio {
  margin: auto;
  display: block;
}
.cid-uz26CkmC7H .mbr-section-title {
  color: #525252;
}
.cid-uz26CkmC7H .mbr-text,
.cid-uz26CkmC7H .mbr-section-btn {
  color: #bbbbbb;
}
.cid-uzlBt7U5Px {
  background-image: url("../../../assets/images/buenos-aires-aerial.jpg");
}
.cid-uzlBt7U5Px .mbr-fallback-image.disabled {
  display: none;
}
.cid-uzlBt7U5Px .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uzlBt7U5Px .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uzlBt7U5Px .image-wrap img {
    display: block;
    margin: auto;
    width: 60%;
  }
}
@media (max-width: 768px) {
  .cid-uzlBt7U5Px audio {
    width: 100% !important;
  }
}
.cid-uzlBt7U5Px audio {
  margin: auto;
  display: block;
}
.cid-uzlBt7U5Px .mbr-section-title {
  color: #525252;
}
.cid-uzlBt7U5Px .mbr-text,
.cid-uzlBt7U5Px .mbr-section-btn {
  color: #ffffff;
}
.cid-uz2dIjr3A7 {
  background-image: url("../../../assets/images/sf-edit-3-1975x1479.jpg");
}
.cid-uz2dIjr3A7 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uz2dIjr3A7 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uz2dIjr3A7 .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uz2dIjr3A7 .image-wrap img {
    display: block;
    margin: auto;
    width: 60%;
  }
}
@media (max-width: 768px) {
  .cid-uz2dIjr3A7 audio {
    width: 100% !important;
  }
}
.cid-uz2dIjr3A7 audio {
  margin: auto;
  display: block;
}
.cid-uz2dIjr3A7 .mbr-section-title {
  color: #525252;
}
.cid-uz2dIjr3A7 .mbr-text,
.cid-uz2dIjr3A7 .mbr-section-btn {
  color: #bbbbbb;
}
.cid-uz2lsRx4qV {
  background-image: url("../../../assets/images/seattle-10.jpg");
}
.cid-uz2lsRx4qV .mbr-fallback-image.disabled {
  display: none;
}
.cid-uz2lsRx4qV .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uz2lsRx4qV .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uz2lsRx4qV .image-wrap img {
    display: block;
    margin: auto;
    width: 50%;
  }
}
@media (max-width: 768px) {
  .cid-uz2lsRx4qV audio {
    width: 100% !important;
  }
}
.cid-uz2lsRx4qV audio {
  margin: auto;
  display: block;
}
.cid-uz2lsRx4qV .mbr-section-title {
  color: #525252;
}
.cid-uz2lsRx4qV .mbr-text,
.cid-uz2lsRx4qV .mbr-section-btn {
  color: #bbbbbb;
}
.cid-uz2H4yN2wg {
  background-image: url("../../../assets/images/jamaican-sound-system-4.jpg");
}
.cid-uz2H4yN2wg .mbr-fallback-image.disabled {
  display: none;
}
.cid-uz2H4yN2wg .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uz2H4yN2wg .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uz2H4yN2wg .image-wrap img {
    display: block;
    margin: auto;
    width: 40%;
  }
}
@media (max-width: 768px) {
  .cid-uz2H4yN2wg audio {
    width: 100% !important;
  }
}
.cid-uz2H4yN2wg audio {
  margin: auto;
  display: block;
}
.cid-uz2H4yN2wg .mbr-section-title {
  color: #525252;
}
.cid-uz2H4yN2wg .mbr-text,
.cid-uz2H4yN2wg .mbr-section-btn {
  color: #ffffff;
}
.cid-uzI18vLffX {
  overflow-x: hidden !important;
}
.cid-uzI18vLffX .mbr-section-title {
  color: #fffd00;
}
.cid-uzI18vLffX .mbr-section-title span {
  color: #ffbc00;
}
.cid-uzI18vLffX .mbr-text {
  color: #fffd00;
  letter-spacing: 5px;
  font-weight: 100;
}
.cid-uzI18vLffX .scroll-wrapper {
  top: 0;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  background-repeat: repeat;
  z-index: 0;
  -webkit-animation-duration: 35s !important;
  animation-duration: 35s;
  background-image: url("../../../assets/images/mobile-map-background90-high-center.png");
  -webkit-animation: scroll-wrapper linear infinite;
  -moz-animation: scroll-wrapper linear infinite;
  -o-animation: scroll-wrapper linear infinite;
  animation: scroll-wrapper linear infinite;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.cid-uzI18vLffX .scroll-wrapper.second {
  left: calc(100% - 1px);
}
.cid-uzI18vLffX .mbr-overlay {
  z-index: 1;
}
.cid-uzI18vLffX .block-content {
  z-index: 2;
}
@keyframes scroll-wrapper {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-webkit-keyframes scroll-wrapper {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-moz-keyframes scroll-wrapper {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-o-keyframes scroll-wrapper {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
.cid-uzpUN0jNe7 {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #0f0f0f;
}
.cid-uzpUN0jNe7 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uzpUN0jNe7 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uzpUN0jNe7 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uzpUN0jNe7 .row {
  flex-direction: row-reverse;
}
.cid-uzpUN0jNe7 img {
  width: 100%;
}
.cid-uzpUN0jNe7 .mbr-description {
  color: #000000;
}
.cid-uzpWm4YeQL {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #0f0f0f;
}
.cid-uzpWm4YeQL .mbr-fallback-image.disabled {
  display: none;
}
.cid-uzpWm4YeQL .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uzpWm4YeQL .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uzpWm4YeQL .row {
  flex-direction: row-reverse;
}
.cid-uzpWm4YeQL img {
  width: 100%;
}
.cid-uzpWm4YeQL .mbr-description {
  color: #000000;
}
.cid-uzpUXwKIhy {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #0f0f0f;
}
.cid-uzpUXwKIhy .mbr-fallback-image.disabled {
  display: none;
}
.cid-uzpUXwKIhy .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uzpUXwKIhy .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uzpUXwKIhy .row {
  flex-direction: row-reverse;
}
.cid-uzpUXwKIhy img {
  width: 100%;
}
.cid-uzpUXwKIhy .mbr-description {
  color: #000000;
}
.cid-uzcSPeISnW {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #0f0f0f;
}
.cid-uzcSPeISnW .mbr-fallback-image.disabled {
  display: none;
}
.cid-uzcSPeISnW .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uzcSPeISnW .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uzcSPeISnW .row {
  flex-direction: row-reverse;
}
.cid-uzcSPeISnW img {
  width: 100%;
}
.cid-uzcSPeISnW .mbr-description {
  color: #000000;
}
.cid-uzcSR2GY3Q {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #0f0f0f;
}
.cid-uzcSR2GY3Q .mbr-fallback-image.disabled {
  display: none;
}
.cid-uzcSR2GY3Q .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uzcSR2GY3Q .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uzcSR2GY3Q .row {
  flex-direction: row-reverse;
}
.cid-uzcSR2GY3Q img {
  width: 100%;
}
.cid-uzcSR2GY3Q .mbr-description {
  color: #000000;
}
.cid-uJOEVyEMwY {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #0f0f0f;
}
.cid-uJOEVyEMwY .mbr-fallback-image.disabled {
  display: none;
}
.cid-uJOEVyEMwY .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uJOEVyEMwY .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uJOEVyEMwY .row {
  flex-direction: row-reverse;
}
.cid-uJOEVyEMwY img {
  width: 100%;
}
.cid-uJOEVyEMwY .mbr-description {
  color: #000000;
}
.cid-uzpUEHkWJW {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #0f0f0f;
}
.cid-uzpUEHkWJW .mbr-fallback-image.disabled {
  display: none;
}
.cid-uzpUEHkWJW .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uzpUEHkWJW .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uzpUEHkWJW .row {
  flex-direction: row-reverse;
}
.cid-uzpUEHkWJW img {
  width: 100%;
}
.cid-uzpUEHkWJW .mbr-description {
  color: #000000;
}
.cid-uzpWlO0N7h {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #0f0f0f;
}
.cid-uzpWlO0N7h .mbr-fallback-image.disabled {
  display: none;
}
.cid-uzpWlO0N7h .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uzpWlO0N7h .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uzpWlO0N7h .row {
  flex-direction: row-reverse;
}
.cid-uzpWlO0N7h img {
  width: 100%;
}
.cid-uzpWlO0N7h .mbr-description {
  color: #000000;
}
.cid-uzpUXJrUdQ {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #0f0f0f;
}
.cid-uzpUXJrUdQ .mbr-fallback-image.disabled {
  display: none;
}
.cid-uzpUXJrUdQ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uzpUXJrUdQ .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uzpUXJrUdQ .row {
  flex-direction: row-reverse;
}
.cid-uzpUXJrUdQ img {
  width: 100%;
}
.cid-uzpUXJrUdQ .mbr-description {
  color: #000000;
}
.cid-uJQRRsTt42 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #0f0f0f;
}
.cid-uJQRRsTt42 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uJQRRsTt42 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uJQRRsTt42 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uJQRRsTt42 .row {
  flex-direction: row-reverse;
}
.cid-uJQRRsTt42 img {
  width: 100%;
}
.cid-uJQRRsTt42 .mbr-description {
  color: #000000;
}
.cid-uzpUX3Kv92 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #0f0f0f;
}
.cid-uzpUX3Kv92 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uzpUX3Kv92 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uzpUX3Kv92 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uzpUX3Kv92 .row {
  flex-direction: row-reverse;
}
.cid-uzpUX3Kv92 img {
  width: 100%;
}
.cid-uzpUX3Kv92 .mbr-description {
  color: #000000;
}
.cid-uzpUXZ9Dqr {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #0f0f0f;
}
.cid-uzpUXZ9Dqr .mbr-fallback-image.disabled {
  display: none;
}
.cid-uzpUXZ9Dqr .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uzpUXZ9Dqr .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uzpUXZ9Dqr .row {
  flex-direction: row-reverse;
}
.cid-uzpUXZ9Dqr img {
  width: 100%;
}
.cid-uzpUXZ9Dqr .mbr-description {
  color: #000000;
}
.cid-uzpUYbJPjR {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #0f0f0f;
}
.cid-uzpUYbJPjR .mbr-fallback-image.disabled {
  display: none;
}
.cid-uzpUYbJPjR .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uzpUYbJPjR .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uzpUYbJPjR .row {
  flex-direction: row-reverse;
}
.cid-uzpUYbJPjR img {
  width: 100%;
}
.cid-uzpUYbJPjR .mbr-description {
  color: #000000;
}
.cid-uzpWlv3nXI {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #0f0f0f;
}
.cid-uzpWlv3nXI .mbr-fallback-image.disabled {
  display: none;
}
.cid-uzpWlv3nXI .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uzpWlv3nXI .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uzpWlv3nXI .row {
  flex-direction: row-reverse;
}
.cid-uzpWlv3nXI img {
  width: 100%;
}
.cid-uzpWlv3nXI .mbr-description {
  color: #000000;
}
.cid-uzcSRL3xNz {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #0f0f0f;
}
.cid-uzcSRL3xNz .mbr-fallback-image.disabled {
  display: none;
}
.cid-uzcSRL3xNz .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uzcSRL3xNz .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uzcSRL3xNz .row {
  flex-direction: row-reverse;
}
.cid-uzcSRL3xNz img {
  width: 100%;
}
.cid-uzcSRL3xNz .mbr-description {
  color: #000000;
}
.cid-uzpXFCfukv {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #0f0f0f;
}
.cid-uzpXFCfukv .mbr-fallback-image.disabled {
  display: none;
}
.cid-uzpXFCfukv .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uzpXFCfukv .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uzpXFCfukv .row {
  flex-direction: row-reverse;
}
.cid-uzpXFCfukv img {
  width: 100%;
}
.cid-uzpXFCfukv .mbr-description {
  color: #000000;
}
.cid-uJOp87aLf0 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #0f0f0f;
}
.cid-uJOp87aLf0 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uJOp87aLf0 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uJOp87aLf0 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uJOp87aLf0 .row {
  flex-direction: row-reverse;
}
.cid-uJOp87aLf0 img {
  width: 100%;
}
.cid-uJOp87aLf0 .mbr-description {
  color: #000000;
}
.cid-uzCp9FTwRy {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #000000;
}
.cid-uzCp9FTwRy .mbr-fallback-image.disabled {
  display: none;
}
.cid-uzCp9FTwRy .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uzCp9FTwRy .mbr-text {
  color: #c1c1c1;
}
.cid-uzCp9FTwRy .link {
  color: #d4d4d4;
}
.cid-uzCp9FTwRy .mbr-text,
.cid-uzCp9FTwRy .mbr-section-btn {
  color: #353535;
}
.cid-uzoobv6mNA {
  background-image: url("../../../assets/images/kyiv-3.jpg");
}
.cid-uzoobv6mNA .mbr-fallback-image.disabled {
  display: none;
}
.cid-uzoobv6mNA .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uzoobv6mNA .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uzoobv6mNA .image-wrap img {
    display: block;
    margin: auto;
    width: 50%;
  }
}
@media (max-width: 768px) {
  .cid-uzoobv6mNA audio {
    width: 100% !important;
  }
}
.cid-uzoobv6mNA audio {
  margin: auto;
  display: block;
}
.cid-uzoobv6mNA .mbr-section-title {
  color: #525252;
}
.cid-uzoobv6mNA .mbr-text,
.cid-uzoobv6mNA .mbr-section-btn {
  color: #bbbbbb;
}
.cid-uzuf5uVEC0 {
  background-image: url("../../../assets/images/radio-mexico-background-2.jpg");
}
.cid-uzuf5uVEC0 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uzuf5uVEC0 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uzuf5uVEC0 .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uzuf5uVEC0 .image-wrap img {
    display: block;
    margin: auto;
    width: 70%;
  }
}
@media (max-width: 768px) {
  .cid-uzuf5uVEC0 audio {
    width: 100% !important;
  }
}
.cid-uzuf5uVEC0 audio {
  margin: auto;
  display: block;
}
.cid-uzuf5uVEC0 .mbr-section-title {
  color: #525252;
}
.cid-uzuf5uVEC0 .mbr-text,
.cid-uzuf5uVEC0 .mbr-section-btn {
  color: #bbbbbb;
}
.cid-uzcRxLYy3l {
  background-image: url("../../../assets/images/chicago-view-2000x1500.jpg");
}
.cid-uzcRxLYy3l .mbr-fallback-image.disabled {
  display: none;
}
.cid-uzcRxLYy3l .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uzcRxLYy3l .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uzcRxLYy3l .image-wrap img {
    display: block;
    margin: auto;
    width: 60%;
  }
}
@media (max-width: 768px) {
  .cid-uzcRxLYy3l audio {
    width: 100% !important;
  }
}
.cid-uzcRxLYy3l audio {
  margin: auto;
  display: block;
}
.cid-uzcRxLYy3l .mbr-section-title {
  color: #525252;
}
.cid-uzcRxLYy3l .mbr-text,
.cid-uzcRxLYy3l .mbr-section-btn {
  color: #bbbbbb;
}
.cid-uzox1dnvUY {
  background-image: url("../../../assets/images/manchester-1.jpg");
}
.cid-uzox1dnvUY .mbr-fallback-image.disabled {
  display: none;
}
.cid-uzox1dnvUY .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uzox1dnvUY .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uzox1dnvUY .image-wrap img {
    display: block;
    margin: auto;
    width: 60%;
  }
}
@media (max-width: 768px) {
  .cid-uzox1dnvUY audio {
    width: 100% !important;
  }
}
.cid-uzox1dnvUY audio {
  margin: auto;
  display: block;
}
.cid-uzox1dnvUY .mbr-section-title {
  color: #525252;
}
.cid-uzox1dnvUY .mbr-text,
.cid-uzox1dnvUY .mbr-section-btn {
  color: #bbbbbb;
}
.cid-uzoDqfzR3n {
  background-image: url("../../../assets/images/paris-city-view-7.jpg");
}
.cid-uzoDqfzR3n .mbr-fallback-image.disabled {
  display: none;
}
.cid-uzoDqfzR3n .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uzoDqfzR3n .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uzoDqfzR3n .image-wrap img {
    display: block;
    margin: auto;
    width: 60%;
  }
}
@media (max-width: 768px) {
  .cid-uzoDqfzR3n audio {
    width: 100% !important;
  }
}
.cid-uzoDqfzR3n audio {
  margin: auto;
  display: block;
}
.cid-uzoDqfzR3n .mbr-section-title {
  color: #525252;
}
.cid-uzoDqfzR3n .mbr-text,
.cid-uzoDqfzR3n .mbr-section-btn {
  color: #bbbbbb;
}
.cid-uzp4akOrz2 {
  background-image: url("../../../assets/images/moscow.jpg");
}
.cid-uzp4akOrz2 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uzp4akOrz2 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uzp4akOrz2 .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uzp4akOrz2 .image-wrap img {
    display: block;
    margin: auto;
    width: 50%;
  }
}
@media (max-width: 768px) {
  .cid-uzp4akOrz2 audio {
    width: 100% !important;
  }
}
.cid-uzp4akOrz2 audio {
  margin: auto;
  display: block;
}
.cid-uzp4akOrz2 .mbr-section-title {
  color: #525252;
}
.cid-uzp4akOrz2 .mbr-text,
.cid-uzp4akOrz2 .mbr-section-btn {
  color: #bbbbbb;
}
.cid-uzp5oYnFiG {
  background-image: url("../../../assets/images/berlin-background.jpg");
}
.cid-uzp5oYnFiG .mbr-fallback-image.disabled {
  display: none;
}
.cid-uzp5oYnFiG .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uzp5oYnFiG .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uzp5oYnFiG .image-wrap img {
    display: block;
    margin: auto;
    width: 50%;
  }
}
@media (max-width: 768px) {
  .cid-uzp5oYnFiG audio {
    width: 100% !important;
  }
}
.cid-uzp5oYnFiG audio {
  margin: auto;
  display: block;
}
.cid-uzp5oYnFiG .mbr-section-title {
  color: #525252;
}
.cid-uzp5oYnFiG .mbr-text,
.cid-uzp5oYnFiG .mbr-section-btn {
  color: #bbbbbb;
}
.cid-uzpSgpkYZl {
  background-image: url("../../../assets/images/1940s-radio-background.jpg");
}
.cid-uzpSgpkYZl .mbr-fallback-image.disabled {
  display: none;
}
.cid-uzpSgpkYZl .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uzpSgpkYZl .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uzpSgpkYZl .image-wrap img {
    display: block;
    margin: auto;
    width: 50%;
  }
}
@media (max-width: 768px) {
  .cid-uzpSgpkYZl audio {
    width: 100% !important;
  }
}
.cid-uzpSgpkYZl audio {
  margin: auto;
  display: block;
}
.cid-uzpSgpkYZl .mbr-section-title {
  color: #525252;
}
.cid-uzpSgpkYZl .mbr-text,
.cid-uzpSgpkYZl .mbr-section-btn {
  color: #bbbbbb;
}
.cid-uzuo0jRjJP {
  background-image: url("../../../assets/images/split-background-variation.jpg");
}
.cid-uzuo0jRjJP .mbr-fallback-image.disabled {
  display: none;
}
.cid-uzuo0jRjJP .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uzuo0jRjJP .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uzuo0jRjJP .image-wrap img {
    display: block;
    margin: auto;
    width: 60%;
  }
}
@media (max-width: 768px) {
  .cid-uzuo0jRjJP audio {
    width: 100% !important;
  }
}
.cid-uzuo0jRjJP audio {
  margin: auto;
  display: block;
}
.cid-uzuo0jRjJP .mbr-section-title {
  color: #525252;
}
.cid-uzuo0jRjJP .mbr-text,
.cid-uzuo0jRjJP .mbr-section-btn {
  color: #bbbbbb;
}
.cid-uzuoFuY9ZL {
  background-image: url("../../../assets/images/split-hill-view.jpg");
}
.cid-uzuoFuY9ZL .mbr-fallback-image.disabled {
  display: none;
}
.cid-uzuoFuY9ZL .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uzuoFuY9ZL .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uzuoFuY9ZL .image-wrap img {
    display: block;
    margin: auto;
    width: 60%;
  }
}
@media (max-width: 768px) {
  .cid-uzuoFuY9ZL audio {
    width: 100% !important;
  }
}
.cid-uzuoFuY9ZL audio {
  margin: auto;
  display: block;
}
.cid-uzuoFuY9ZL .mbr-section-title {
  color: #525252;
}
.cid-uzuoFuY9ZL .mbr-text,
.cid-uzuoFuY9ZL .mbr-section-btn {
  color: #bbbbbb;
}
.cid-uzlINe44Sk {
  background-image: url("../../../assets/images/manchester-1.jpg");
}
.cid-uzlINe44Sk .mbr-fallback-image.disabled {
  display: none;
}
.cid-uzlINe44Sk .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uzlINe44Sk .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uzlINe44Sk .image-wrap img {
    display: block;
    margin: auto;
    width: 60%;
  }
}
@media (max-width: 768px) {
  .cid-uzlINe44Sk audio {
    width: 100% !important;
  }
}
.cid-uzlINe44Sk audio {
  margin: auto;
  display: block;
}
.cid-uzlINe44Sk .mbr-section-title {
  color: #525252;
}
.cid-uzlINe44Sk .mbr-text,
.cid-uzlINe44Sk .mbr-section-btn {
  color: #bbbbbb;
}
.cid-uzHFBvQV1O {
  background-image: url("../../../assets/images/dominica-background-3.jpg");
}
.cid-uzHFBvQV1O .mbr-fallback-image.disabled {
  display: none;
}
.cid-uzHFBvQV1O .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uzHFBvQV1O .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uzHFBvQV1O .image-wrap img {
    display: block;
    margin: auto;
    width: 60%;
  }
}
@media (max-width: 768px) {
  .cid-uzHFBvQV1O audio {
    width: 100% !important;
  }
}
.cid-uzHFBvQV1O audio {
  margin: auto;
  display: block;
}
.cid-uzHFBvQV1O .mbr-section-title {
  color: #525252;
}
.cid-uzHFBvQV1O .mbr-text,
.cid-uzHFBvQV1O .mbr-section-btn {
  color: #bbbbbb;
}
.cid-uJOmdee0N5 {
  background-image: url("../../../assets/images/moscow.jpg");
}
.cid-uJOmdee0N5 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uJOmdee0N5 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uJOmdee0N5 .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uJOmdee0N5 .image-wrap img {
    display: block;
    margin: auto;
    width: 60%;
  }
}
@media (max-width: 768px) {
  .cid-uJOmdee0N5 audio {
    width: 100% !important;
  }
}
.cid-uJOmdee0N5 audio {
  margin: auto;
  display: block;
}
.cid-uJOmdee0N5 .mbr-section-title {
  color: #525252;
}
.cid-uJOmdee0N5 .mbr-text,
.cid-uJOmdee0N5 .mbr-section-btn {
  color: #bbbbbb;
}
.cid-uJOrQI3r05 {
  background-image: url("../../../assets/images/christchurch-background-1.jpg");
}
.cid-uJOrQI3r05 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uJOrQI3r05 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uJOrQI3r05 .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uJOrQI3r05 .image-wrap img {
    display: block;
    margin: auto;
    width: 60%;
  }
}
@media (max-width: 768px) {
  .cid-uJOrQI3r05 audio {
    width: 100% !important;
  }
}
.cid-uJOrQI3r05 audio {
  margin: auto;
  display: block;
}
.cid-uJOrQI3r05 .mbr-section-title {
  color: #525252;
}
.cid-uJOrQI3r05 .mbr-text,
.cid-uJOrQI3r05 .mbr-section-btn {
  color: #bbbbbb;
}
.cid-uJOA7UqGl5 {
  background-image: url("../../../assets/images/miami-back-1.jpg");
}
.cid-uJOA7UqGl5 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uJOA7UqGl5 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uJOA7UqGl5 .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uJOA7UqGl5 .image-wrap img {
    display: block;
    margin: auto;
    width: 40%;
  }
}
@media (max-width: 768px) {
  .cid-uJOA7UqGl5 audio {
    width: 100% !important;
  }
}
.cid-uJOA7UqGl5 audio {
  margin: auto;
  display: block;
}
.cid-uJOA7UqGl5 .mbr-section-title {
  color: #525252;
}
.cid-uJOA7UqGl5 .mbr-text,
.cid-uJOA7UqGl5 .mbr-section-btn {
  color: #bbbbbb;
}
